@using EncycloBook.Data.Models.Posts;
@model DeadlyBacteria
<div class="input_text">
    <div class="input_text ">
        <h6>Host</h6>

        <label>@Model.Host</label>

    </div>

</div>
<div class="billing">
    <div class="input_text">
        <h6>Symptom</h6>
        <label>@Model.Symptom.Name</label>
        @if (Model.Symptom.IsLifeThreatening)
        {
            <label>This symptom is life threatening!</label>
        }
        else
        {
            <label>This symptom is not life threatening!</label>
        }
    </div>
</div>