@using EncycloData.Models;
@model Virus;

<div class="input_text">
    <div class="input_text ">
        <h6>Family</h6>

        <label>@Model.VirusFamily</label>

    </div>

</div>
<div class="billing">
    <div class="input_text">
        <h6>Discovered by</h6>
        <label>@Model.DiscoveredBy</label>
    </div>
    <div class="zip_state">
        <h6>Discovered in</h6>
        @if (Model.YearDiscovered.Year < 0)
        {
            <label>@Math.Abs(Model.YearDiscovered.Year) BC</label>
        }
        <label>@Model.YearDiscovered.Year</label>
    </div>

</div>
<div class="input_text">
 

</div>

